@*
@{
}

@using _2_4AurorasBricks2.Infrastructure
@model Product

<div class="card">
    <h3>
        @Model.Name
        <span class="badge rounded-pill bg-primary text-white float-end"><small>Price: @Model.Price</small></span>
    </h3>
    <ul>
        <li><img src="@Model.ImgLink"/></li>
        <li>Price: $@Model.Price</li>
    </ul>

    <form id=@Model.ProductId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn-outline-success btn-sm float-end">Donate</button>
    </form>

</div> *@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using _2_4AurorasBricks2.Infrastructure
@model Product

<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="card h-100 d-block rounded">
        <div class="card-body d-flex flex-column justify-content-between align-items-center">
            <img class="card-img-product" src="@Model.ImgLink" style="height: 200px" />
            <div class="text-center">
                <p class="card-title">@(Model.Name.Length > 25 ? Model.Name.Substring(0, 25) + "..." : Model.Name)</p>
                @* <p class="card-text">@(Model.Description.Length > 50 ? Model.Description.Substring(0, 50) + "..." : Model.Description)</p> *@
                <h3 class="card-text"><strong>Price:</strong> <em>$@Model.Price</em></h3>
                <!-- Add more product information as needed -->
@*                 <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@Model.ProductId" />
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="ProductDetail" asp-route-id="@Model.ProductId">View More Info</a><br />
                </form> *@
                <form id=@Model.ProductId method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="ProductDetail" asp-route-id="@Model.ProductId">View More Info</a><br />
                </form>
            </div>
        </div>
    </div>
</div>




