@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProjectsListViewModel


<br />
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg-faded rounded p-5">
                        <div style="background-color:rgba(245, 245, 245, 1); padding: 20px;">
                            
                                <br />
                                <h2 style="margin-bottom: 20px;">Our Lego Sets!</h2>
                                <a class="btn btn-primary" asp-controller="Home" asp-action="AddProducts">Add a Product</a><br />
                                <br /><br />


                            <div style="overflow-x: auto;">
                                <table style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Year</th>
                                            <th>Number of Parts</th>
                                            <th>Primary Color</th>
                                            <th>Secondary Color</th>
                                            <th>Description</th>
                                            <th>Manage Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Product p in Model.Products)
                                        {
                                            <tr>
                                                <td><img src="@p.ImgLink" width="100"/></td>
                                                <td>@p.Name</td>
                                                <td>$ @p.Price</td>
                                                <td>@p.Category</td>
                                                <td>@p.Year</td>
                                                <td>@p.NumParts</td>
                                                <td>@p.PrimaryColor</td>
                                                <td>@p.SecondaryColor</td>

                                                <td>
                                                    <div class="description">
                                                        @if (p.Description.Length > 50)
                                                        {
                                                            <span class="short-description">@Html.Raw(p.Description.Substring(0, 50))</span>
                                                            <span class="full" style="display:none;">@Html.Raw(p.Description)</span>
                                                            <button class="more-button" onclick="toggleDescription(this)">More...</button>
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(p.Description)
                                                        }
                                                    </div>
                                                </td>
                                                @* <td><a class="btn btn-primary">Edit</a></td>
                                                <td><a class="btn btn-primary">Delete</a></td>

                                                <td>@p.Description</td> *@
                                                
                                                <td><a class="btn btn-primary" asp-controller="Home" asp-action="EditProductsSingle" asp-route-id="@p.ProductId">Edit</a><a class="btn btn-danger" id="show-overlay-button" asp-controller="Home" asp-action="DeleteProducts" asp-route-id="@p.ProductId">Delete</a></td>
                                               

                                                </tr>
                                                    }
                <!-- Add more rows as needed -->
                                       </tbody>
            
                                </table>
                            </div>
                        </div>
                      </div>
                 </div>
              </div>
         </div>
    </div>
</section>
<div
<div page-model="@Model.PaginationInfo" class="btn-group pull-right m-1">17</div>