@{
    ViewData["Title"] = "Home Page";
}

@model SingleProductViewModel

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Explore</span>
                    <span class="section-heading-lower">Our Sets!</span>
                </h2>
                <p class="mb-3">Here are some of our most recommended sets to consider building as you explore!</p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-area="" asp-controller="Home" asp-action="Products">View All Products</a>
                </div>


                @{
                    // This is an if loop that will determine whether or not to show the most popular products or one of the previously purchased products (depending if they are logged in)
                    // var auth = 1;
                    // if (auth != 1)
                    // {
                        var orderedProductIds = new List<int> { 13, 21, 20, 12, 23 };
                        foreach (var id in orderedProductIds)
                        {
                            var product = Model.Products.FirstOrDefault(x => x.ProductId == id);
                            if (product != null)
                            {
                                <div class="card" data-product-id="@id">
                                    <div class="items">
                                        <img src="@product.ImgLink" style="height:150px"/>
                                        <h2>@product.Name</h2>
                                        <h3>Price: $@product.Price</h3>
                                        <a href="#" class="add-to-cart-btn">Add to Cart</a>
                                    </div>
                                    <button class="prevButton">←</button>
                                    <button class="nextButton">→</button>
                                </div>
                            }
                        }
                    // }
                    // else
                    // {
                    //     @foreach (var category in Model.RecommendedProducts)
                    //     {
                    //         <h4>@category.Key</h4>
                    //         @foreach (var recommendedProduct in category.Value)
                    //         {
                    //             <div class="card" data-product-id="@recommendedProduct.ProductId">
                    //                 <div class="items">
                    //                     <p>@recommendedProduct.Name</p>
                    //                     <img src="@recommendedProduct.ImgLink" alt="Recommended Product Image" style="width:100%" />
                    //                     <a href="#" class="add-to-cart-btn">Add to Cart</a>
                    //                 </div>
                    //                 <button class="prevButton">←</button>
                    //                 <button class="nextButton">→</button>
                    //             </div>
                    //         }
                    //     }
                    // }
                }


            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Purpose</span>
                        <span class="section-heading-lower">Built For You</span>
                    </h2>
                    <p class="mb-0">Here at Aurora's Bricks, our mission is to provide you with exceptional products 
                        and an unparalleled shopping experience. We strive to offer the highest quality building 
                        bricks and accessories, ensuring that every purchase brings joy and creativity to your 
                        building projects. Our commitment to excellence extends beyond our products to the service 
                        we provide, ensuring that your experience with us is nothing short of exceptional. 
                        Join us in building a world of endless possibilities, one brick at a time.</p>
                </div>
            </div>
        </div>
    </div>
</section>