@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SingleProductViewModel

<br /><br />
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text text-center bg-faded p-5 rounded">
                        <div style="background-color:rgba(245, 245, 245, 1); padding: 20px;">
                            <h2 class="section-heading mb-4">Products and Their Recommended Products</h2>

                            @foreach (Product p in Model.Products)
                            {
                                <h1>Product ID: @p.Name</h1>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="card-img-product" src="@p.ImgLink" />
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Description:</strong></p>
                                        <p>@p.Description</p><br />
                                        <h3>Price: $@p.Price</h3>
                                        <a href="#" class="add-to-cart-btn">Add to Cart</a>
                                    </div>
                                </div>
                            }

                            @if (Model.RecommendedProducts != null && Model.RecommendedProducts.Any())
                            {
                                <h3>Recommended Products:</h3>
                                @foreach (var category in Model.RecommendedProducts)
                                {
                                 
                                    foreach (var recommendedProduct in category.Value)
                                    {
                                        <div class="card" data-product-id="@recommendedProduct.ProductId">
                                            <div class="items">
                                                <br />
                                                
                                                <img class="card-img" src="@recommendedProduct.ImgLink" alt="Recommended Product Image"/>
                                                
                                                
                                                <h2>@recommendedProduct.Name</h2>
                                                <h3><strong>Price:</strong> $@recommendedProduct.Price</h3>
                                                    
                                                
                                                <br /><a href="#" class="add-to-cart-btn">Add to Cart</a>
                                            </div>
                                            <button class="prevButton">←</button>
                                            <button class="nextButton">→</button>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*     <h4>Recommended Products:</h4>
    <table>
        <thead>
            <tr>
                <th>Column</th>
                <th>Recommended Product Names</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recommendedProducts in Model.RecommendedProducts)
            {
                <tr>
                    <td>@recommendedProducts.</td>
                    <td>
                        @foreach (var recommendedProductName in recommendedProducts.Value)
                        {
                            @recommendedProductName
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> *@


