@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SingleProductViewModel
<section class="page-section">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">Products and Their Recommended Products</h2>

                @foreach (Product p in Model.Products)
                {
                    <h1>Product ID: @p.Name</h1>
                    <h3>Price: $@p.Price</h3>
                    <img src="@p.ImgLink" style="width:100"/>
                }

                @if (Model.RecommendedProducts != null && Model.RecommendedProducts.Any())
                {
                    <h3>Recommended Products:</h3>
                    @foreach (var category in Model.RecommendedProducts)
                    {
                        <h4>@category.Key</h4>
                        foreach (var recommendedProduct in category.Value)
                        {
                            <div class="card" data-product-id="@recommendedProduct.ProductId">
                                <div class="items">
                                    <p>@recommendedProduct.Name</p>
                                    <img src="@recommendedProduct.ImgLink" alt="Recommended Product Image" style="width:100%"/>
                                    <a href="#" class="add-to-cart-btn">Add to Cart</a>
                                </div>
                                <button class="prevButton">←</button>
                                <button class="nextButton">→</button>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

@*     <h4>Recommended Products:</h4>
    <table>
        <thead>
            <tr>
                <th>Column</th>
                <th>Recommended Product Names</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recommendedProducts in Model.RecommendedProducts)
            {
                <tr>
                    <td>@recommendedProducts.</td>
                    <td>
                        @foreach (var recommendedProductName in recommendedProducts.Value)
                        {
                            @recommendedProductName
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> *@


